.git
.git.upstream
**/.git.upstream
**/__pycache__
**/*.pyc
**/*.pyo
**/*.egg-info
.eggs
build
dist
.venv
venv
eval_daxian/videos
eval_daxian/checkpoints
eval_daxian/metrics
eval_daxian/swanlog
eval_daxian_unlock_pip_dip
*.pkl
*.mp4
*.mp3
*.gif
robopianist/soundfonts
robopianist/pig_single_finger
robopianist/third_party
docs
.idea
.vscode
.devcontainer
*.swp
.DS_Store
